.landing-area {
    height: 100%;
    display: flex;
    flex-flow: column;
    aspect-ratio: 1200/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./images/landingPage_wave.svg);
}

.landing-area .navbar {
    flex: 0 1 auto;
}

.landing-area .intro-content {
    flex: 1 1 auto;
}


.services-area{
    height: 100%;
    /* display: flex;
    flex-flow: column; */
    aspect-ratio: 1200/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./images/services_bubble.svg);
}


.why-area {
    height: 100vh;
    aspect-ratio: 1200/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./images/why_blob.svg);
}

.other-programs{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url(./images/other_programsCircle.svg); */
}

.testimonials {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./images/testimonials_waves.svg);
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
}

/* text stylings */
.nav-link {
    color: rgb(78, 77, 77);
}

.info-text {
    background-color: azure;
    border-radius: 2rem;
    max-width: 14rem;
}

.contact-button {
    background-color: rgb(75, 95, 95);
    color: blanchedalmond;
    border-radius: 2rem;
}

.product-definition {
    max-width: 27rem;
}


.login, .trial {
    background-color: rgb(75, 95, 95);
    color: blanchedalmond;
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
}

.trial {
    background-color: rgba(75, 95, 95, 0.452);   
}

.service1 {
    border-radius: 1rem;
    background: #24c7c5;
    box-shadow:  12px 12px 55px #d8d8d8c1,
                -18px -18px 77px #f4f4f4;

}

.service2, .service3, .service4 {
    border-radius: 26px;
    background: #fcfcfc;
    box-shadow:  12px 12px 55px #d8d8d8c1,
                -18px -18px 77px #f4f4f4;
}

.catalog1 {
    border-radius: 1rem;
    background: #24c7c5;
    box-shadow:  12px 12px 55px #d8d8d8c1,
                -18px -18px 77px #f4f4f4;
}

.catalog2 {
    border-radius: 26px;
    background: #fcfcfc;
    box-shadow:  12px 12px 55px #d8d8d8c1,
                -18px -18px 77px #f4f4f4;
}

.g-md-5 {
    --bs-gutter-y: 10rem;
}

.figure {
    border-radius: 1rem;
    background: #b8b4b4;
    box-shadow:  18px 18px 98px #7d7d7d;
    max-width: 40rem;
}

footer {
    background-color: #24c7c487;
}


.none {
    display: none;
}

.fix {
    background-color: #24c7c5;
    position: fixed;
    top: 0%;
    display: flex;
    height: 50%;
}



/* animations */

.text-pop {
    animation: myAnima 1s cubic-bezier(0.11, 0, 0.6, 0.3) 1s 1 alternate forwards;
}

.pulse {
    animation: myAnim 2s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 alternate forwards;
}

@keyframes myAnima {
    0% {
      transform: scale(0.5);
    }
    
    100% {
      transform: scale(1);
    }
  }

  @keyframes myAnim {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(1.1);
    }
  
  
    45% {
      animation-timing-function: ease-in;
      transform: scale(1);
    }
  }